@font-face{ 
  font-family: 'BebasNeue';
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face{
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-SemiBold.ttf);
}


/*-------------------------------------logo FSF --------------------------------------------*/ 
#logo {
  position: relative;
  width: 140px;
  height: 75px;
  margin-top: 15px; 
}


/*---------------------------------------- Body -------------------------------------------------*/
body {   
background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}
 

/* Titulos y Subtitulos de las vistas class en h1(titulo) h2(subtitulo) h3(parrafo)*/
.titulo{
  font-family:'Quicksand', Courier, monospace;
  font-size: 45px;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.subtitulo{
  font-family:'Quicksand', Courier, monospace;
  font-size: 35px;
  color: #03045e;
}

.parrafo{
  font-family:'Quicksand', Courier, monospace;
  font-size: 25px;
  color: #03045e;
}


/*----- botones login_btn(login) - btn guardar(form) - btn alta(verde)- baja(azul)- listado(rojo)  -----*/
.icon-unlocked{
  color:#290ea1 ;
}
.icon-pencil{
  color:#0b5f0f ;
}
.icon-bin2{
  color:#f50c2b ;
}
.btn-home-reasignar{
  background:#290ea1 ;
}


/*formulario empleado*/
.btn-guardar {
  background-color:  #03045e;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer
}
.btn-guardar:hover  {
  background-color: #0264d6;
}

/*botones alta baja listado*/
.azul{
  font-size: 25px;
  background-color: #0096c7;
  color: white;
  border:none;
  margin-bottom: 42px;
}


.verde{
  font-size: 25px;
  background-color: #22aa99;
  color: white;
  border:none;
  margin-bottom: 42px;
}

.rojo{
  font-size: 25px;
  background-color:#e63946;
  color: white;
  border:none;
  margin-bottom: 42px;
}

/* .btn-submit {
  border-radius: 10px;
  border: solid 2px #596bcc;
  background: #5b68ae;
  color: #f2f2f2;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: #5b68ae;
  border: solid 3px #596bcc;
  color: black;
} */
/*----------------------------- card formulario - card Login ----------------------------------*/
.form-empleado{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  height: 370px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
}

.form-contraseña{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important; 
  height: 500px;
  width: 700px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
}

.form-nuevoempleado{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important; 
  height: fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
}


.form-permisos{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  height: 50%;
  width: 50%;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
}

.form-login{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  height: 400px;
  width: 500px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
box-shadow: 0px 0px 5px 5px rgba(121,125,127,1);
}

.input-group-text{
  background-color: #03045e;
}


/*----- input text area formulario registro empleado -----*/
input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(187, 191, 255);
  font-size: 14px !important;
  font-weight: 300;
  
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400
}




