icomoon-font-path ?= "fonts"

icon-unlocked = "\e902"
icon-newspaper = "\e901"
icon-spoon-knife = "\e900"
icon-home3 = "\e905"
icon-pencil = "\e906"
icon-location = "\e947"
icon-mobile = "\e958"
icon-user = "\e971"
icon-user-plus = "\e973"
icon-user-tie = "\e976"
icon-key = "\e98d"
icon-bin2 = "\e9ad"
icon-earth = "\e9ca"
icon-exit = "\ea14"
icon-mail = "\ea83"

